@import 'colors';

// Fonts
$font-family-roboto: 'Roboto', arial, sans-serif;
$font-family-montserrat: 'Montserrat', arial, sans-serif;
$font-family-merriweather: 'Merriweather', arial, sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font sizes
$font-size-smaller: 12px;
$font-size-body: 14px;
$font-size-big: 18px;

// This is the unit of the grid used by the Design. Always use a multiple or a factor for any
// spacing (padding, margin) or width related (width, height).
$grid-unit: 8px;

// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

// Medium screen / desktop
$screen-md: 950px;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

// Large screen / wide desktop
$screen-lg: 1280px;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

// Extra large screen
$screen-xl: 1680px;
$screen-xl-min: $screen-xl;
$screen-xl-desktop: $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min - 1;
$screen-lg-max: $screen-xl-min - 1;
