@import '../const/variables.scss';

.dl-card {
  position: relative;
  padding: $grid-unit * 2;
  margin: $grid-unit;
  background: $color-white;
  border-radius: $grid-unit;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: $grid-unit;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.04),
      0 8px 16px rgba(0, 0, 0, 0.04), 0 16px 32px rgba(0, 0, 0, 0.04), 0 32px 64px rgba(0, 0, 0, 0.04);
  }
}

.dl-card-title {
  font-family: $font-family-montserrat;
  font-size: 24px;
  margin-bottom: $grid-unit;
  color: $color-gray-darker;
  font-weight: bold;
}
