@import '../const/variables';

// Styles
.dl-text-body-xs-regular {
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  font-size: $font-size-smaller;
  line-height: $grid-unit * 2;
}

.dl-text-body-xs-bold {
  font-family: $font-family-roboto;
  font-weight: $font-weight-bold;
  font-size: $font-size-smaller;
  line-height: $grid-unit * 2;
}

.dl-text-body-s-regular {
  font-family: $font-family-roboto;
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
  line-height: $grid-unit * 3;
}

.dl-text-body-s-bold {
  font-family: $font-family-roboto;
  font-weight: $font-weight-bold;
  font-size: $font-size-body;
  line-height: $grid-unit * 3;
}

.dl-text-title-s-bold {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
  font-size: $font-size-body;
  line-height: $grid-unit * 3;
}

.dl-text-title-l-bold {
  font-family: $font-family-montserrat;
  font-weight: $font-weight-bold;
  font-size: $font-size-big;
  line-height: $grid-unit * 3;
}

// Colors
.dl-text-color-gray-darker {
  color: $color-gray-darker;
}

.dl-text-color-gray {
  color: $color-gray;
}

// Alignment
.dl-text-align-left {
  text-align: left;
}

.dl-text-align-center {
  text-align: center;
}

.dl-text-align-right {
  text-align: right;
}
