@import '../const/variables.scss';

$toggle-wrapper-width: $grid-unit * 6;
$toggle-wrapper-height: $grid-unit * 3;

input[type='checkbox'].dl-toggle-control {
  opacity: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: $toggle-wrapper-width;
  height: $toggle-wrapper-height;
  cursor: pointer;
}

.toggle-slider {
  background-color: $color-gray;
  transition: 100ms;
  border-radius: 34px;
  width: $toggle-wrapper-width;
  height: $toggle-wrapper-height;

  &:before {
    position: absolute;
    content: '';
    height: $grid-unit * 2;
    width: $grid-unit * 2;
    left: 4px;
    bottom: 4px;
    background-color: $color-white;
    border-radius: 50%;
    transition: transform 100ms ease-in-out;
    pointer-events: none;
  }
}

.toggle {
  user-select: none;
  height: $grid-unit * 3;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  input:checked:not([disabled]) + .toggle-slider {
    background-color: $color-blue;
  }

  input:focus + .toggle-slider {
    box-shadow: 0 0 0 4px $color-blue-light;
  }
}

input:checked + .toggle-slider:before {
  transform: translateX($grid-unit * 3);
}
